<!DOCTYPE html>
<html lang="zh-CN">
    <head>
		<meta charset="utf-8">
		<title></title>        
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Le styles -->
		<link href="/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
		<link href="/css/global.css" media="screen" rel="stylesheet" type="text/css">
		<link href="/css/style.css" media="screen" rel="stylesheet" type="text/css">
		<link href="/css/bootstrap-responsive.min.css" media="screen" rel="stylesheet" type="text/css">
		<link href="/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
		<!-- Scripts -->
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
		<!--[if lt IE 9]><script type="text/javascript" src="/js/html5.js"></script><![endif]-->                                      
	</head>
<body>

{$content}

</body>
</html>