<!DOCTYPE html>
<html lang="zh-CN">
    <head>
		<meta charset="utf-8">
		<title>{$frontTitle}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Le styles -->
		<link href="{$smarty.const.__CSS_PATH}bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
		<link href="{$smarty.const.__CSS_PATH}bootstrap-responsive.min.css" media="screen" rel="stylesheet" type="text/css">
		<link href="{$smarty.const.__CSS_PATH}global.css" media="screen" rel="stylesheet" type="text/css">
		<link href="{$smarty.const.__IMG_PATH}favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
		{if $frontCssQueue}
			{foreach item=cssFile from=$frontCssQueue}
				<link href="{$cssFile}" media="screen" rel="stylesheet" type="text/css">
			{/foreach}
		{/if}
		
		<!-- Scripts -->
		<script type="text/javascript" src="{$smarty.const.__JS_PATH}jquery.min.js"></script>
		<script type="text/javascript" src="{$smarty.const.__JS_PATH}bootstrap.min.js"></script>
		<!--[if lt IE 9]><script type="text/javascript" src="/js/html5.js"></script><![endif]-->
		{if $frontJsQueue}
			{foreach item=jsFile from=$frontJsQueue}
				<script type="text/javascript" src="{$jsFile}"></script>
			{/foreach}
		{/if}
	</head>
<body>
<div class="container">
	<div id="header" class="row-fluid">
		<div class="span4 offset2">您尚未<a class="jh_pop_login">登录</a> | <a class="jh_pop_reg">注册</a>请猛击</div>
		<div class="span4 offset2 hide">已登录为 | <a class="jh_pop_quit">退出</a></div>
	  	<div class="span6"></div>
	</div>
	{$frontContent}
	<div id="footer" class="row-fluid">
		<span class="offset2 span8 center copy">Powered by Dlad &copy; 2011 Anti-otaku.net</span>
	</div>
</div>
<!-- 百年一瞬，不失本心 -->
</body>
</html>





